@import "project.less";
@import "smart-grid.less";

.reset();

.ie10( {

    *,
    *::after,
    *::before {
      box-sizing: border-box;
    }
  }

);

a {
  text-decoration: none;
}

body {
  margin: 0 auto;
  max-width: 1140px;
}

